
html{
  height: 100%;
}
  
  
body{
    font-family: sans-serif;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
}

#logo{
height: 10%;
width: 15%;
position: relative;
padding-left:  20px;
padding-top: 5px;
padding-right: 20px;
float: right;
margin: 10px;
}

nav.nav-pills.nav-fill{
    float: left;
    position: relative;
    padding: 50px;
    margin: 50px;
}

.nav-item.nav-link{
    color: #b6190e;
    font-size: 20px;
    margin: 10px;
    margin-top: 20px;
    align-items: center;
}

.nav-item.nav-link.active{
    color:white;
    background-color: #b6190e;
}

.content{
    font-family: sans-serif;
    display: inline-block;
    margin: 0px auto;
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
    padding: 50px;
    align-items: center;
    left: 100px;
}

.export{
    float: left;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    font-family:  sans-serif;
}

.fas.fa-file-csv{
    color: #505456;
    position: center;
    font-size: 100px;
    padding: 20px;
    margin: 20px;
}

.fas.fa-file-excel{
    color: #505456;
    position: center;
    font-size: 100px;
    padding: 20px;
    margin: 20px;
}

.fas.fa-file-pdf{
  color: #505456;
  position: center;
  font-size: 100px;
  padding: 20px;
  margin: 20px;
}

.link{
    text-decoration: none;
    color: #b6190e;
    text-align: center;
    margin: 20px;
    padding: 20px;
    position: relative;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
 }

 
.date{
    position: relative;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    width: 52px;
    height: 32px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #b6190e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px grey;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 44px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
[type="date"]::-webkit-inner-spin-button {
    float: left;
  }
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  label {
   text-align: justify;
   display: inline-block;
   font-family: sans-serif;
   position: absolute;
  }

  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
    margin: 20px;
    float: right;
  }

  .box1, .box2, .box3{
    padding: 20px;
    background: blueviolet;
    float: left;
    width: 32%;
    box-sizing: border-box;
    position: absolute;
    margin-right: 2%;
  }

  .box3{
      margin-right: 0;
  }

  .label{
      text-align: justify;
      display: inline-block;
      font-family: sans-serif;
      position: absolute;
  }

footer{
    width: 100%;
    text-align: center;
    display: table-row;
}


.form {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 285px;
    margin: -200px 0 0 -150px;
    padding: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

input {
      outline: none;
      display: block;
      width: 100%;
      margin: 0 0 20px;
      padding: 10px 15px;
      border: 1px solid #ccc;
      color: #ccc;
      font-family: sans-serif;
      box-sizing: border-box;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: 0.2s linear;
    }
input:focus {
        color: #333;
        border: 1px solid #44c4e7;
      }
button {
      cursor: pointer;
      background: #ad1c12;
      width: 100%;
      padding: 10px 15px;
      border: 0;
      color: #fff;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 400;
    }
button:hover {
        background: #b6190e;
      }

  
.error, .valid{display:none;}

h2{
    padding-bottom: 15px;
    text-align: center;
}

#display-flex{
    display: -webkit-flex;
    display: flex;
}

.input{
    margin-left: 70px;
    margin-top: 10px;
    margin-right: 40px;
    width: auto;
    position: relative;
}

.btn.btn-lg.btn-primary{
    background:#b6190e;
    font-family: sans-serif;
    margin: 5px;
    padding: 5px;
    border: none;
}

.download{
    background:#b6190e;
    color: white;
    font-family: sans-serif;
    border-radius: 15px;
    width: auto;
}

.progress{
  background:#c8d3d9;
  color: white;
  margin: 10px;
}

.progress-bar{
  width: 25%;
  background: #b6190e;
}

.btn.btn-primary{
  background: #b6190e;
  color: white;
  border: #b6190e;
}

.dropdown {
 display: inline-block;
 margin: 10px;
 padding: 10px;
}

.btn.btn-secondary.dropdown-toggle{
  background: white;
  color: black;
  font-family: sans-serif;
}

.form-check-label{
  margin-left: 2px;
  margin-top: 2px;
}

.form-check.form-switch{
  margin-top: 10px;
  margin-left: 10px;
}
.filter{
  display: table-row;
}

.avatar{
  width: 80%;
  height: auto;
  margin: 5px;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  margin: 10px;
  display: inline-block;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.wrap {
  padding: 2px 16px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#date{
  width: auto;
}

.date-switch{
  width: 25%;
  margin: 10px;
  float: right;
}


.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: sans-serif;
	background-image: url('image1.png');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}

.booking-form {
	max-width: auto;
	width: 100%;
	margin: auto;
}

.booking-form .form-header {
	text-align: center;
	margin-bottom: 25px;
}

.booking-form .form-header h1 {
	font-size: 58px;
	text-transform: uppercase;
	font-weight: 700;
	color: #c8d6d9;
	margin: 0px;
}

.booking-form>form {
	background-color: #101113;
	padding: 30px 20px;
	border-radius: 3px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 15px;
}

.booking-form .form-control {
	background-color: #f5f5f5;
	border: none;
	height: 45px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
	color: #101113;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #101113;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px;
	display: block;
	text-transform: uppercase;
}

.booking-form .submit-btn {
	color: white;
	background-color: #b6190e;
	font-weight: 700;
	height: 50px;
	border: none;
	width: 100%;
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
}

.import{
  size: 250px;
  display: inline-block;
  margin: 75px;
  padding: 10px;
}

.download{
  margin: 20px;
  text-decoration: none;
  padding: 10px;
}

.fas.fa-desktop.fa-10x{
  padding-bottom: 20px;
}

a:active{
  text-decoration: none;
}

a:hover{
  color: white;
}